<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>

        
  <form #goalForm='ngForm'>
  
            <!-- <label for="id">id</label>
            <input type="text" required class="form-control" id="id"> -->
  
        <!-- </div> -->
        <div class="form-group">
  
            <label for="name">id</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="quoteName">Quote Name</label>
            <textarea class="form-control" id="quoteName" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
  
            <label for="last">last</label>
            <input type="text" required class="form-control" id="last">
  
        </div>
        <div class="form-group">
            <label for="complete">Completion</label>
            <input type='date' id="complete" required>
  
        </div>
        <div class="text-center">  
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </form>
  </div>